---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hux - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="190" height="190" src="images/lance_avatar.png">
				<h1>Lance Lou</h1>
				<p>在校大学生一枚，处世不深，经验暂无，慢慢沉淀！</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
          <li>
            <div class="cbp_tmlabel">
              <h2>miq</h2>
              <time>2017.05-now</time>
              <img src="https://ws1.sinaimg.cn/large/ad5d774bly1fidvsau33tj213z0mwgnn.jpg">
              <ul>
                <li>
                  miq项目，手头一直在鼓弄一个小项目，使用React全家桶模仿小密圈写的一个网站，前后端同构JavaScript，
                  后 端用的Koa框架，数据库MySQL，同时引入PM2进行NodeJS工程管理。其实主要是希望将最近自己在技 术，
                  工程化方面的一些学习与体会融入到项目当中，无历史包袱，可以放开手脚干。每天可能会挤出 一两个小时来
                  做一下miq，将工作，技术学习相关的思考融入项目。不断改进，收获的不仅是履历，更 是一种反馈!
                </li>
                <li class="skill">
                  <span class="fa fa-css3"></span>
                  <span><b>JS</b></span>
                  <span class="link"><a target="_blank" href="https://github.com/LanceLou/miq">GitHub</a></span>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="cbp_tmlabel">
              <h2>gulp-forward</h2>
              <time>2017.07</time>
              <img src="https://ws1.sinaimg.cn/large/ad5d774bly1fidvgjjegkj20wy0am0t1.jpg">
              <ul>
                <li>
                  前端代码测试联调解决方案，script local，data remote！&& mock server!
                </li>
                <li class="skill">
                  <span><b>JS</b></span>
                  <span class="link"><a target="_blank" href="https://github.com/LanceLou/gulp-forward">GitHub</a></span>
                </li>
              </ul>
            </div>
          </li>
					<li>
						<div class="cbp_tmlabel">
							<h2>CodeIU 练习项目</h2>
							<time>2016.11</time>
							<img src="images/codeiu.png">
							<ul>
								<li>
									模仿百度前端技术学院(ife)，自行设计，编码实现的一个在线任务领取，组队，提交的系统，比在学校进行的实际的运行与反馈，同时本人也在不断
									的完善与迭代！
								</li>
								<li class="skill">
									<span class="cbp_tmicon-phone"></span>
									<span class="fa fa-css3"></span>
									<span><b>JS</b></span>
									<span class="link"><a target="_blank" href="http://115.29.49.217/codeiu/">CodeIU.com</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>freecodecamp</h2>
							<time>2016.08</time>
							<img src="images/work-freecodecamp.png">
							<ul>
								<li>
									免费编码社区，对web开发知识进行实践，取得前端开发certificate。
								</li>
								<li class="skill">
									<span class="fa fa-css3"></span>
									<span><b>JS</b></span>
									<span class="link"><a target="_blank" href="https://www.freecodecamp.cn/lancelou">freecodecamp LanceLou page</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2 id="hslider">baidu ife 2016</h2>
							<time>2016.05</time>
							<img src="images/ife-2016.png">
							<ul>
								<li>
									BaiDu IFE(前端技术学院) 2016级学院学员，IFE：由百度创办的免费的前端技术学习实践、交流、分享平台。
								</li>
								<li class="skill">
									<span class="fa fa-css3"></span>
									<span><b>JS</b></span>
									<span class="link"><a target="_blank" href="https://github.com/LanceLou/ife2016">Github</a></span>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="cbp_tmlabel">
							<h2>成都大学心理中心</h2>
							<time>2016.04</time>
							<img src="images/work-mhec.png">
							<ul>
								<li>
									为学校部门搭建的一个发布与申请平台，外包模式开发，主要功能是信息发布以及在线预约。
								</li>
								<li class="skill">
									<span class="fa fa-css3"></span>
									<span><b>JS</b></span>
									<span class="link"><a target="_blank" href="http://xlzx.cdu.edu.cn/">Visit</a></span>
								</li>
							</ul>
						</div>
					</li>
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
